/****************************
* GENERAL
****************************/
*{
	margin: 0;
	padding: : 0;
	list-style-type: none;
}

html, body{
	height: 100%;
}

/****************************
* FONTS
****************************/
@font-face {
	font-family: 'Kalinga';
	src: url('../fonts/Kalinga.eot');
	src: local('Kalinga'), url('../fonts/Kalinga.woff') format('woff'), url('../fonts/Kalinga.ttf') format('truetype');
}

/****************************
* NAVIGATION
****************************/
nav ul{
	height: 58px;
	margin-bottom: -2px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

nav li{
	
	text-align: center;
	width: 100px;
	float: left;
}

nav a{
	padding: 17px 0 16px;
	display: block;
	font: 14px Kalinga;
	color: #202020;
	text-decoration: none;
}

nav a:hover{
	color: #000;
}

nav .isActive{
	height: 4px;
	width: 60px;
	background: #0da4d3;
	margin-left: 20px;
}
/****************************
* HEADER WITH LOGO
****************************/
header{
	height: 417px;
	width: 100%;
	background: url(../images/bg-slim.jpg) center center;
	background-size: cover;
	position: relative;
}

header h1{
	width: 329px;
	height: 48px;
	background: url(../images/golden-layout.png );
	position: absolute;
	left: 50%;
	margin-left: -165px;
	margin-top: 184px;
	text-indent: -9999px;
}