/****************************
* GENERAL
****************************/
*{
	margin: 0;
	padding: : 0;
	list-style-type: none;
}

html, body{
	height: 100%;
}

#outerWrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	margin-bottom: -147px;
}

#footerPush{
	height: 147px;
}

.templateContainer{
	display: none;
}

@-webkit-keyframes blink {
	0%   { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}
@-moz-keyframes blink {
	0%   { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}
@-o-keyframes blink {
	0%   { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}
@keyframes blink {
	0%   { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

#development_warning{
	position: fixed;
	top: 100%;
	margin-top: -50px;
	border: 1px solid #BA0F0F;
	color: #BA0F0F;
	width: 100%;
	padding: 5px;
	background: #FFDEDE;
	font: 20px Arial, sans-serif;
	font-weight: bold;
	text-decoration: blink;
	-webkit-animation: blink 2s infinite; /* Safari 4+ */
  	-moz-animation:    blink 2s infinite; /* Fx 5+ */
  	-o-animation:      blink 2s infinite; /* Opera 12+ */
  	animation:         blink 2s infinite; /* IE 10+, Fx 29+ */
}
/****************************
* FONTS
****************************/
@font-face {
	font-family: 'Kalinga';
	src: url('../fonts/Kalinga.eot');
	src: local('Kalinga'), url('../fonts/Kalinga.woff') format('woff'), url('../fonts/Kalinga.ttf') format('truetype');
}

/*
 * Created with iconvau.lt
 */

@font-face {
  font-family: "iconvault";
  src: url("../fonts/iconvault_02a12fbb1cab6faee7d196b196ae185b.eot");
  src: url("../fonts/iconvault_02a12fbb1cab6faee7d196b196ae185b.eot?#iefix") format("embedded-opentype"),
       url("../fonts/iconvault_02a12fbb1cab6faee7d196b196ae185b.woff") format("woff"),
       url("../fonts/iconvault_02a12fbb1cab6faee7d196b196ae185b.ttf") format("truetype"),
       url("../fonts/iconvault_02a12fbb1cab6faee7d196b196ae185b.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-food-ice-cream-streamline:before,
.icon-brush-paint-streamline:before,
.icon-email-mail-streamline:before,
.icon-barbecue-eat-food-streamline:before,
.icon-laptop-macbook-streamline:before,
.icon-diving-leisure-sea-sport-streamline:before,
.icon-pen-streamline:before,
.icon-picture-streamline:before,
.icon-browser-streamline-window:before,
.icon-camera-streamline-video:before,
.icon-settings-streamline:before,
.icon-painting-pallet-streamline:before,
.icon-computer-network-streamline:before,
.icon-computer-streamline:before,
.icon-earth-globe-streamline:before,
.icon-cook-pan-pot-streamline:before,
.icon-cocktail-mojito-streamline:before,
.icon-streamline-umbrella-weather:before,
.icon-bubble-love-streamline-talk:before,
.icon-design-graphic-tablet-streamline-tablet:before,
.icon-headset-sound-streamline:before,
.icon-caddie-shop-shopping-streamline:before,
.icon-crown-king-streamline:before,
.icon-music-speaker-streamline:before,
.icon-link-streamline:before,
.icon-music-note-streamline:before,
.icon-chaplin-hat-movie-streamline:before,
.icon-happy-smiley-streamline:before,
.icon-armchair-chair-streamline:before,
.icon-camera-photo-streamline:before,
.icon-caddie-shopping-streamline:before,
.icon-ibook-laptop:before,
.icon-barista-coffee-espresso-streamline:before,
.icon-bag-shopping-streamline:before,
.icon-notebook-streamline:before,
.icon-eat-food-hotdog-streamline:before,
.icon-arrow-streamline-target:before,
.icon-grid-lines-streamline:before,
.icon-micro-record-streamline:before,
.icon-ipod-music-streamline:before,
.icon-ipod-mini-music-streamline:before,
.icon-design-pencil-rule-streamline:before,
.icon-bomb-bug:before,
.icon-envellope-mail-streamline:before,
.icon-eye-dropper-streamline:before,
.icon-like-love-streamline:before,
.icon-delete-garbage-streamline:before,
.icon-handle-streamline-vector:before,
.icon-shoes-snickers-streamline:before,
.icon-crop-streamline:before,
.icon-chef-food-restaurant-streamline:before,
.icon-streamline-sync:before,
.icon-edit-modify-streamline:before,
.icon-ipod-streamline:before,
.icon-pen-streamline:before,
.icon-settings-streamline:before,
.icon-lock-locker-streamline:before,
.icon-drug-medecine-streamline-syringue:before,
.icon-frame-picture-streamline:before,
.icon-pen-streamline:before,
.icon-japan-streamline-tea:before,
.icon-remote-control-streamline:before,
.icon-home-house-streamline:before,
.icon-man-people-streamline-user:before,
.icon-paint-bucket-streamline:before,
.icon-stamp-streamline:before,
.icon-magnet-streamline:before,
.icon-first-aid-medecine-shield-streamline:before,
.icon-computer-macintosh-vintage:before,
.icon-photo-pictures-streamline:before,
.icon-map-pin-streamline:before,
.icon-book-read-streamline:before,
.icon-pen-streamline:before,
.icon-streamline-suitcase-travel:before,
.icon-map-streamline-user:before,
.icon-computer-imac:before,
.icon-eat-food-fork-knife-streamline:before,
.icon-macintosh:before,
.icon-book-dowload-streamline:before,
.icon-picture-streamline:before,
.icon-camera-photo-polaroid-streamline:before,
.icon-database-streamline:before,
.icon-locker-streamline-unlock:before,
.icon-backpack-streamline-trekking:before,
.icon-painting-roll-streamline:before,
.icon-ink-pen-streamline:before,
.icon-danger-death-delete-destroy-skull-streamline:before,
.icon-coffee-streamline:before,
.icon-magic-magic-wand-streamline:before,
.icon-speech-streamline-talk-user:before,
.icon-settings-streamline:before,
.icon-computer-imac:before,
.icon-factory-lift-streamline-warehouse:before,
.icon-ipad-streamline:before,
.icon-receipt-shopping-streamline:before,
.icon-clock-streamline-time:before,
.icon-dashboard-speed-streamline:before,
.icon-monocle-mustache-streamline:before,
.icon-iphone-streamline:before,
.icon-bubble-comment-streamline-talk:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-food-ice-cream-streamline:before { content: "\f100"; }
.icon-brush-paint-streamline:before { content: "\f101"; }
.icon-email-mail-streamline:before { content: "\f102"; }
.icon-barbecue-eat-food-streamline:before { content: "\f103"; }
.icon-laptop-macbook-streamline:before { content: "\f104"; }
.icon-diving-leisure-sea-sport-streamline:before { content: "\f105"; }
.icon-pen-streamline:before { content: "\f106"; }
.icon-picture-streamline:before { content: "\f107"; }
.icon-browser-streamline-window:before { content: "\f108"; }
.icon-camera-streamline-video:before { content: "\f109"; }
.icon-settings-streamline:before { content: "\f10a"; }
.icon-painting-pallet-streamline:before { content: "\f10b"; }
.icon-computer-network-streamline:before { content: "\f10c"; }
.icon-computer-streamline:before { content: "\f10d"; }
.icon-earth-globe-streamline:before { content: "\f10e"; }
.icon-cook-pan-pot-streamline:before { content: "\f10f"; }
.icon-cocktail-mojito-streamline:before { content: "\f110"; }
.icon-streamline-umbrella-weather:before { content: "\f111"; }
.icon-bubble-love-streamline-talk:before { content: "\f112"; }
.icon-design-graphic-tablet-streamline-tablet:before { content: "\f113"; }
.icon-headset-sound-streamline:before { content: "\f114"; }
.icon-caddie-shop-shopping-streamline:before { content: "\f115"; }
.icon-crown-king-streamline:before { content: "\f116"; }
.icon-music-speaker-streamline:before { content: "\f117"; }
.icon-link-streamline:before { content: "\f118"; }
.icon-music-note-streamline:before { content: "\f119"; }
.icon-chaplin-hat-movie-streamline:before { content: "\f11a"; }
.icon-happy-smiley-streamline:before { content: "\f11b"; }
.icon-armchair-chair-streamline:before { content: "\f11c"; }
.icon-camera-photo-streamline:before { content: "\f11d"; }
.icon-caddie-shopping-streamline:before { content: "\f11e"; }
.icon-ibook-laptop:before { content: "\f11f"; }
.icon-barista-coffee-espresso-streamline:before { content: "\f120"; }
.icon-bag-shopping-streamline:before { content: "\f121"; }
.icon-notebook-streamline:before { content: "\f122"; }
.icon-eat-food-hotdog-streamline:before { content: "\f123"; }
.icon-arrow-streamline-target:before { content: "\f124"; }
.icon-grid-lines-streamline:before { content: "\f125"; }
.icon-micro-record-streamline:before { content: "\f126"; }
.icon-ipod-music-streamline:before { content: "\f127"; }
.icon-ipod-mini-music-streamline:before { content: "\f128"; }
.icon-design-pencil-rule-streamline:before { content: "\f129"; }
.icon-bomb-bug:before { content: "\f12a"; }
.icon-envellope-mail-streamline:before { content: "\f12b"; }
.icon-eye-dropper-streamline:before { content: "\f12c"; }
.icon-like-love-streamline:before { content: "\f12d"; }
.icon-delete-garbage-streamline:before { content: "\f12e"; }
.icon-handle-streamline-vector:before { content: "\f12f"; }
.icon-shoes-snickers-streamline:before { content: "\f130"; }
.icon-crop-streamline:before { content: "\f131"; }
.icon-chef-food-restaurant-streamline:before { content: "\f132"; }
.icon-streamline-sync:before { content: "\f133"; }
.icon-edit-modify-streamline:before { content: "\f134"; }
.icon-ipod-streamline:before { content: "\f135"; }
.icon-pen-streamline:before { content: "\f136"; }
.icon-settings-streamline:before { content: "\f137"; }
.icon-lock-locker-streamline:before { content: "\f138"; }
.icon-drug-medecine-streamline-syringue:before { content: "\f139"; }
.icon-frame-picture-streamline:before { content: "\f13a"; }
.icon-pen-streamline:before { content: "\f13b"; }
.icon-japan-streamline-tea:before { content: "\f13c"; }
.icon-remote-control-streamline:before { content: "\f13d"; }
.icon-home-house-streamline:before { content: "\f13e"; }
.icon-man-people-streamline-user:before { content: "\f13f"; }
.icon-paint-bucket-streamline:before { content: "\f140"; }
.icon-stamp-streamline:before { content: "\f141"; }
.icon-magnet-streamline:before { content: "\f142"; }
.icon-first-aid-medecine-shield-streamline:before { content: "\f143"; }
.icon-computer-macintosh-vintage:before { content: "\f144"; }
.icon-photo-pictures-streamline:before { content: "\f145"; }
.icon-map-pin-streamline:before { content: "\f146"; }
.icon-book-read-streamline:before { content: "\f147"; }
.icon-pen-streamline:before { content: "\f148"; }
.icon-streamline-suitcase-travel:before { content: "\f149"; }
.icon-map-streamline-user:before { content: "\f14a"; }
.icon-computer-imac:before { content: "\f14b"; }
.icon-eat-food-fork-knife-streamline:before { content: "\f14c"; }
.icon-macintosh:before { content: "\f14d"; }
.icon-book-dowload-streamline:before { content: "\f14e"; }
.icon-picture-streamline:before { content: "\f14f"; }
.icon-camera-photo-polaroid-streamline:before { content: "\f150"; }
.icon-database-streamline:before { content: "\f151"; }
.icon-locker-streamline-unlock:before { content: "\f152"; }
.icon-backpack-streamline-trekking:before { content: "\f153"; }
.icon-painting-roll-streamline:before { content: "\f154"; }
.icon-ink-pen-streamline:before { content: "\f155"; }
.icon-danger-death-delete-destroy-skull-streamline:before { content: "\f156"; }
.icon-coffee-streamline:before { content: "\f157"; }
.icon-magic-magic-wand-streamline:before { content: "\f158"; }
.icon-speech-streamline-talk-user:before { content: "\f159"; }
.icon-settings-streamline:before { content: "\f15a"; }
.icon-computer-imac:before { content: "\f15b"; }
.icon-factory-lift-streamline-warehouse:before { content: "\f15c"; }
.icon-ipad-streamline:before { content: "\f15d"; }
.icon-receipt-shopping-streamline:before { content: "\f15e"; }
.icon-clock-streamline-time:before { content: "\f15f"; }
.icon-dashboard-speed-streamline:before { content: "\f160"; }
.icon-monocle-mustache-streamline:before { content: "\f161"; }
.icon-iphone-streamline:before { content: "\f162"; }
.icon-bubble-comment-streamline-talk:before { content: "\f163"; }
/****************************
* NAVIGATION
****************************/
#nav{
	position: relative;
	height: 30px;
	margin-bottom: -30px;
	z-index: 1;
	overflow: hidden;
}

#nav img{
	display: none;
}

#nav.standalone{
	margin-bottom: 0;
	height: 40px;
}

#nav.standalone img{
	display: block;
	width: 100%;
	height: 1187px;
}

#nav ul{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#nav li{
	opacity: 0.8;
	float: left;
	transition: opacity 300ms ease;
}

#nav li.active,
#nav li:hover{
	opacity: 1;
}

#nav a{
	padding-top: 11px;
	padding-right: 40px;
	display: block;
	font: 16px "Courier New", monospace;
	color: #fff;
	text-decoration: none;
}

/****************************
* HEADER WITH LOGO
****************************/
.orangeGradient{
	background: #ef7d17; /* Old browsers */
	background: -moz-linear-gradient(top,  #ef7d17 0%, #ec6804 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef7d17), color-stop(100%,#ec6804)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ef7d17 0%,#ec6804 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ef7d17 0%,#ec6804 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ef7d17 0%,#ec6804 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ef7d17 0%,#ec6804 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7d17', endColorstr='#ec6804',GradientType=0 ); /* IE6-9 */
}

#header{
	height: 140px;
	width: 100%;
	position: relative;
}

#header.micro{
	width: 200px;
	height: 40px;
	float: left;
}
#header h1{
	width: 343px;
	height: 60px;
	background: url(../images/golden-layout.png );
	position: absolute;
	left: 49%;
	margin-left: -172px;
	margin-top: 40px;
	text-indent: -9999px;
}

#header.micro h1{
	width: 200px;
	height: 40px;
	left: 0;
	top: 0;
	margin: 0;
	background: url(../images/golden-layout-small.png ) no-repeat center;
}

#header a.download{
	background: #111;
	background: rgba( 0, 0, 0, 0.4 );
	font-family: "Courier New", monospace;
	color: #fff;
	padding: 3px;
	padding-right: 111px;
	text-decoration: none;
	position: absolute;
	left: 45%;
	top: 114px;
	font-size: 12px;
	cursor: pointer;
	transition: all 400ms ease;
}

#header a.download:hover{
	background: rgba( 0, 0, 0, 0.8 );
}

#header.micro a.download{
	display: none;
}
/****************************
* FOOTER
****************************/
#footer{
	height: 136px;
	clear: left;
	padding: 5px;
	background: url(../images/bg_dark_pattern.png);
	border-top: 1px solid #000;
	overflow: hidden;
	box-shadow: inset 0 4px 24px rgba(0,0,0,0.7);
}

#footer *{
	color: #CCC;
	font: 11px/15px Arial, sans-serif;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#footer .copyright{
	text-align: center;
	font-size: 10px;
	color: #AAA;
	margin: 10px 0;
}

#footer h4{
	font-size: 14px;
	font-weight: bold;
	color: #AAA;
	margin-bottom: 10px;
}
#footer ul.footerItems{
	width: 960px;
	margin: 10px auto;
}

#footer ul.footerItems > li{
	float: left;
	width: 299px;
	height: 100px;
	padding: 0 10px;
	border-right: 1px solid #AAA;
}

#footer ul.footerItems > li p{
	margin-bottom: 3px;
}
#footer ul.footerItems > li.about{
	border: none;
}

/****************************
* EXAMPLE ON STARTPAGE
****************************/
.startExample{
	position: relative;
	height: 782px;
}

#startPageBackground{
	position: absolute;
	width: 100%;
	height: 1187px;
}

#exampleScreen{
	width: 900px;
	height: 832px;
	background: url(../images/screen.png);
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -450px;
}

#exampleLayoutContainer{
	position: absolute;
	left: 36px;
	top: 37px;
	width: 825px;
	height: 518px;
}

#tryMeArrow{
	width: 193px;
	height: 147px;
	position: absolute;
	background: url(../images/try-me.png);
	z-index: 9999;
	left: 838px;
	top: 157px;
}

/****************************
* FEATURES OVERVIEW
****************************/
#startPageFeatures{
	overflow: hidden;
	position: relative;
	z-index: 2;
	height: 405px;
}

#wrapper_960{
	width: 960px;
	margin: 10px auto;
}

#startPageFeatures > ul{
	width: 1240px;
	margin: 85px auto 0;
}

#startPageFeatures li{
	width: 400px;
	height: 110px;
	position: relative;
	margin: 0 20px 20px 0;
	float: left;
	background: rgba(0, 0, 0, 0.5 );
}

#startPageFeatures li.last{
	margin-right: 0;
}

#startPageFeatures li *{
	position: absolute;
}

#startPageFeatures li img{
	top: 10px;
	left: 10px;
}

#startPageFeatures li small{
	font: 14px Kalinga, sans-serif;
	color: #ef7d17;
	left: 160px;
	top: 54px;
}

#startPageFeatures li strong{
	font: 24px Kalinga, sans-serif;
	color: #fff;
	left: 160px;
	top: 71px;
}
/****************************
* PAYMENT FORM
****************************/
#payment label{
	display: block;
}

/****************************
* EXAMPLES PAGE
****************************/
.examplesNavigation{
	background: #000;
	width: 200px;
	height: 100%;
	padding: 0;
	overflow: hidden;
	float: left;
}

.examplesNavigation li,
.examplesNavigation li a{
	font: 12px Arial, sans-serif;
	color: #fff;
}

.examplesNavigation li{
	background: #222;
	margin-bottom: 1px;
	color:#fff;
}

.examplesNavigation li a{
	padding: 5px 5px 5px 30px;
	display: block;
	text-decoration: none;
	transition: all 300ms ease;
}

.examplesNavigation li.active a{
	color:#ff8e3c;
}

.examplesNavigation li a:hover{
	background: #333;
}

.examplesNavigation li.head{
	padding: 5px;
	background: #555;
	box-shadow:0 3px 3px rgba(0,0,0,0.9)
}

/**********************************
* EMBEDDED CONTENT
**********************************/
.codePenContainer{
	float: left;
	padding: 0;
}

#disqusContainer{
	background: #fff;
	border-top: 1px solid #fff;
	padding: 10px;
}

/**********************************
* LICENSE PAGE
**********************************/
#license{
	width: 800px;
	margin: 20px auto;
	overflow: hidden;
}

.licenseContainer *{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: 12px/16px Arial, sans-serif;
	color: #222;
}

#license .cc_license_info{
	overflow: hidden;
}

#license h2.first{
	margin-top: 0;
}

#license h2{
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-top: 50px;
	border-bottom: 1px solid #ccc;
	font: 14px Kalinga;
}

#license .cc_license_info .ccLicense{
	text-align: center;
}

#license .column{
	width: 300px;
	margin: 20px 50px;
	float:left;
	position: relative;
}

#license .licenseType h3{
	font-weight: bold;
	font-size: 16px;
}

#license .licenseType h3 a{
	position: absolute;
	right: 0;
}


#license .licenseType p{
	font-style: italic;
	margin: 20px 0;
}

#license .licenseType .price{
	font-family: Kalinga;
	font-size: 40px;
	color: #ec6804;
	text-align: center;
}

#license .licenseType .price small{
	color: #ec6804;
	font-family: Kalinga;
}

#license .licenseType form{
	margin-top: 20px;
}

#license .licenseType .formInputs{
	height: 100px;
}

#license .licenseType .inputGroup input{
	width: 100%;
	border: 1px solid #ccc;
}

#license .licenseType .buttonContainer{
	text-align: right;
}

#license .licenseType .buttonContainer input {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

#license .licenseType .buttonContainer input:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}

#license .licenseType .buttonContainer input:active {
	position:relative;
	top:1px;
}

#license .licenseType form label{
	display: block;
}

#license .inputGroup{
	position: relative;
	margin-top: 10px;
}

#license .inputGroup .error{
	display: none;
	background: #eec4be;
	color: #ea351c;
	padding: 3px;
	font-weight: bold;
	position: absolute;
	top: 100%;
	right: -2px;
}

#license .error .error{
	display: block;
}

#license .error input{
	border:1px solid #ea351c !important;
}

/**********************************
* MODAL WINDOW
**********************************/
#modal{
	display: none;
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 6;
}

#modal .background{
	position: absolute;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
}

#modal .head{
	overflow: hidden;
}

#modal .content-wrapper{
	width: 600px;
	margin: 20px auto;
	z-index: 7;
	position: relative;
}

#modal .title{
	font-family: Kalinga;
	color: #FFF;
	font-size: 12px;
}

#modal .close{
	width: 16px;
	height: 16px;
	float: right;
	background-image: url(close.png);
	cursor: pointer;
}

#modal .content{
	padding: 10px;
	background: #fff;
	min-height: 200px;
	max-height: 600px;
	overflow-y: auto;
	box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.7 );
}

#modal.loading .content{
	background-image: url(loader.gif);
	background-repeat: no-repeat;
	background-position: center;
}

#modal .licenseText{
	font: 12px/16px "Courier New", monospace;
	white-space: pre-wrap;
}

/**********************************
* PURCHASE SUCCESS
**********************************/
.purchaseSuccess h3{
	font: 14px Kalinga;
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
	margin-top: 5px;
}

.purchaseSuccess ul{
	padding: 0;
	margin-bottom: 20px;
}

.purchaseSuccess ul li *{
	color: #222;
	font: 12px Arial, sans-serif;
}

.purchaseSuccess ul li label{
	font-weight: bold;
	display: inline-block;
	width: 100px;
}

.purchaseSuccess .yourLicense{
	white-space: pre-wrap;
	border: 1px solid #ccc;
	height: 200px;
	overflow-y: scroll;
	padding: 5px;
	margin-top: 10px;
}